<div class="container">
    <div class="row">
        <!-- <div class="col-12">
            <app-book-list></app-book-list>
        </div>
        <hr/>
        <div class="col-12">
            <app-book-create></app-book-create>
        </div> -->

        <div class="col-sm-12">
            <h1 class="text-center text-success">Book Application</h1>
            <a [routerLink]="['list']">List</a> | <a [routerLink]="['create']">Create</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>